*{
    margin: 0;
}

.chose_category{
    padding: 5% 6%;
}

.pict5_1{
        width: 100%;
    margin-bottom: 20px;
}
 
/* ---------- youthink --------*/
    
    
    
.youthink{
    padding: 5% 6%;
    background-color: #7beec7;
}

.btn{
    border-radius: 0;
}

.youthink_h4{
    color: aliceblue;
}
 
.youthink_button{
    color: #7beec7;
}

.youthink1{
 
    padding-bottom: 5%;
}

.youthink2{
   background-color: #fff; 
    padding: 2%;
}


.input_in{
    padding: 10px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
}

.youthink_button2{
    background-color: #7beec7;
    color: #fff;
}
 



/*----------   contact   ------------*/



.contactus{
    padding: 3% 6%;
    color: #b6b6b6;
    border-bottom: 1px solid green;    
 
}

.btn_submit{
    background-color: #31d4e7; 
}

.kk{
    margin-left: 20px;
    color: #989898;
}

.lind_foot{
     text-transform: uppercase;
     color :#989898; 
    margin: 0 10px;
}



.created_by{
     text-transform: uppercase;
}


.footer_left{
    text-align: right;
}

 
 


/*----  @media  -----*/

@media(max-width: 1024px){
    
  
}






