/*
.carousel_text{
    text-align: center;
}*/


nan_bar{
    width: 80%; 
}

.navbar{
    position: absolute;
    margin-left:15%;
    margin-right:15%;
    z-index: 1;
    width: 70%;
}

.section2{
    padding:  7% 15%;
}


 

.carousel-control-next, 
.carousel-control-prev{
  width: 10%;  
}

.btn_Get_Started{
   font-size: .7rem;
   background-color: #998675;
   color: #fff;
    padding: 10px 18px; 
}



.colorrrr {
/* background-color: blue; */
color: #8c8c8c;
}

.nav-pills  .nav-link.colorrrr.active {
    background-color: #998675;
    
    }

    .ggg{

        margin: 0 auto;
    }


    .green4{
       width: 100%;
    }


/*-- Contant 3  ---*/

.content3{
    text-align: center;
}

.button_load_more{
    background-color: #998675;
    color: #fff;
}


