/*
.carousel_text{
    text-align: center;
}*/


nan_bar{
    width: 80%; 
}

.navbar{
    position: absolute;
    margin-left:15%;
    margin-right:15%;
    z-index: 1;
    width: 70%;
}

.section2{
    padding:  7% 15%;
}


/*
.carousel-item{
    bottom: 200px;
}
*/

.carousel-control-next, 
.carousel-control-prev{
  width: 10%;  
}