

/*
.block2{
  height: 100px;
  width: 100px;
  background-color: red;
   box-shadow: 0 0 10px 5px #000;
     transform: rotate(50deg);
-moz-transform: rotate(90deg);
}
*/


.for_carusel{
width: 1000px;
/*height: 1000px;*/
/*background-color: red*/
}



 
