
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: monospace;
        font-weight: 300;
/*    text-transform: uppercase;*/
            font-size: 240%;
    color: #fff;
        line-height: 1.15;
}




.start{
/*    height: 680px;*/
    height: 100vh;
    background-image: url("resources/img/mzal/KM225.jpg");
/*     background-color: aquamarine;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;

    padding: 15% 10% 10%;
    box-sizing: border-box;
}


.start h1{
    font-size: 5rem; /* 5rem !! or  500% or 5em (enherit); */
    font-family: sans-serif;
/*    font-family: 'Pacifico', cursive;*/
    color: #fff;
/*    display: inline;*/
/*    width: 80%;*/
}

.navbar{
    position: absolute;
    margin-left:5%;
    margin-right:5%;
    z-index: 1;
    width: 90%;
}








/* HEADER */
header {
    background-color: darkgrey;
/*    background-image: url(/hero.jpg);*/
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nameplant{
    padding: 0px auto;
/*    border: 1px solid red;   */
}


.center_image{
    margin: auto;
    width:900px ;
/*    height:315px; */
/*    border: 1px solid green;*/
    
}

.center{
    margin: 50px auto;
/* border: 1px solid red; */
    width:560px ;
    height:315px; 
}

/*
iframe{
    margin: auto;
    border: 1px solid green;
}*/
