
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
.navbar{
    position: absolute;
    margin-left:15%;
    margin-right:15%;
    z-index: 1;
    width: 70%;
}
*/

/* HEADER */
header {
    background-color: darkgrey;
/*    background-image: url(/hero.jpg);*/
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nameplant{
    padding: 0px auto;
/*    border: 1px solid red;   */
}

h1 {
    text-align: center;
    font-family: monospace;
        font-weight: 300;
    text-transform: uppercase;
            font-size: 240%;
    color: #fff;
        line-height: 1.15;
/*    dd*/
}

.center_image{
    margin: auto;
    width:900px ;
/*    height:315px; */
/*    border: 1px solid green;*/
    
}

.center{
    margin: 50px auto;
/* border: 1px solid red; */
    width:560px ;
    height:315px; 
}

/*
iframe{
    margin: auto;
    border: 1px solid green;
}*/
