<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>  EJS</title>
    <link rel="stylesheet" href="udemy2_js.css" >
</head>


 
<body>

    <h1> Today is <span><%= dayOf %></span>!</h1>
    
  
    
<!--   <script src="resources/js/js_sect11_udemy2.js"></script>   -->
 </body>
</html>


