 
body {
    /* background-color: #79e6ee;
    margin: 0;
    padding: 0;
	box-sizing: border-box; */

	background-image: linear-gradient(to right, red 60%, yellow 90%);
}


.class_cat_png{
	width: 100px;
	height: 100px;

	position: relative;
	top: 0px;
	/* transition: .5s linear .5s;
	animation: step_cat 1s linear .2s infinite alternate-reverse; */
	transform:
	rotate(30deg)
	/* scale - это маштабирование */
	/* scale(4) */
	/* scaleX(4) scaleY(2) */

	/* translate - Это смещение  */
	/* translate(200px, 200px) */
	translateX(200px) 
}
 

.rectangle4{
  
    width: 400px;
	height: 200px;
    background-color: #fff;
    margin-left: 50px;
}

.triangle3{
    position: relative;
    left: 20px;
    width: 100px;
	height: 100px;
    background-color: #fff;;
   transform: rotate(45deg);
}

/* --------------- */
#switch{
	display: none;
}

label[for="switch"]{
	display: block;
	position: relative;
	background: #fff;
	border: 2px solid gray;
	width: 50px;
	height: 25px;
	border-radius: 25px;
	box-sizing: border-box;
	transition: ease-out .3s;
	transform: translate(0, 0);
}


label[for="switch"]:before{
	content: "";
	display: block;
	position: absolute;
	z-index: 2;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5);
	left: 0;
	top: 0;
	transition: .3s;
}


#switch:checked + label{
    background-color: #8DB600;
    }
    #switch:checked+label:before{
        transform:translate(25px,0)
    }
    label[for="switch"]{
        transform:translate(0,0);
	}
	


	/* skew - наклонить  */

 