 
body {
    background-color: #79e6ee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forma6{
	width: 70%;
	height: 1000px;
	margin:20px auto 30px auto;
	overflow: hidden;
	border: solid 3px #ff7347;
	background-color: yellow;
}


.center{
	width: 500px;
	margin: auto;
	background-color: #79e6ee;
	border: 1px solid red ;
}

.forma2{
	/* width: 200px; */
	margin-bottom: 20px;
	

 }

.a1 input{
	padding-left: 15px; 
	padding-right: 15px; 	 
}

.a2 input{
	padding-left: 15px; 
	padding-right: 15px; 	 
}

.a1{
	float: left;
	margin-right: 10px;
}
 
.a2{
	 
	margin-left: 10px;
}
 

.a3{
	float: left;
	margin-right: 10px;
}

.a3 input{
	padding-left: 15px; 
	padding-right: 15px; 	 
}

.a4 button{
	/* box-sizing: 70px; */
	padding-left: 15px; 
	padding-right: 15px; 
	margin-left: 30px;
}

.rectangle{
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
	top: 0px;
	transition: .5s linear .5s;
 
}

.rectangle2{
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
	top: 0px;
	transition: .5s linear .5s;
	animation: step 1s linear .2s infinite alternate-reverse;
}

.rectangle3{
	width: 100px;
	height: 100px;

	position: relative;
	top: 0px;
	transition: .5s linear .5s;
	animation: step_cat 1s linear .2s infinite alternate-reverse;
}
	
.class_cat_png{
	width: 100px;
	height: 100px;

	position: relative;
	top: 0px;
	transition: .5s linear .5s;
	animation: step_cat 1s linear .2s infinite alternate-reverse;
}

.rectangle:hover{
	background: green;
	top: 50px;
}

@keyframes step{
	0% {left: 0px; top: 0px	}
	50%{top: 100px;}
	100%{left: 100px; top: 100px;}
}

@keyframes step_cat{
	0% {left: 0px; top: 0px	}
	20%{top: 100px;}
	40%{top: 0px;}
	60%{top: 100px;}
	80%{top: 0px;}
	100%{left: 800px; top: 100px;}
}


 
input[type = "number"]:out-of-range{
	border: 2px solid red;
}

input[type = "email"]:invalid{
	border: 2px solid red;
}

input[type = "email"]:valid{
	border: 1px solid green;
}


.pretty-input{
	position: absolute;
	width: 300px;
	height: 40px;

}

.pretty-input input{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	background: transparent;
	outline: none;
	position: relative;
	z-index: 2;

	border: none;
	border-bottom: 1px solid gray;
}

.pretty-input input:focus+label{
	top: -15px;
}
.pretty-input input:valid+label{
	top: -15px;
}

.pretty-input label{
color: grey;
position: absolute;
left: 15px;
transition: 0.3s;
top:10px;
z-index: 1;
}


input[type = "checkbox"]{
	display: none;
}

label[for="check"]:before{
	content: " ";
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid green;
	position: absolute;
	left: 0;
	top: 2px;
}

label[for="check"]{
	position: relative;
	padding-left: 30px;
}

input[type = "checkbox"]:checked+label:after{
	content: "\2713";
	color: green;
	position: absolute;
	top: 2px;
	left: 5px;
}


.burger{
	position: relative;
	width: 25px;
	overflow: hidden;
}
 
.burger span{
	display: block;
	width: 100%;
	height: 3px;
	background: gray;
	margin: 8px 0;
}


.burger:before, 
.burger:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: gray;
	left: 0;
	top: 0;
}

.burger:after{
 top: inherit;
 bottom: 0;
}


.burger:active > span{
	opacity: 0;
}
.burger span{
	transition: 0.3s;
}

.burger:before, 
.burger:after{
	transition: 0.3s;
}

.burger:active:before{
transform: rotate(45deg);
top: 8px;
}

.burger:active:after{
	transform: rotate(-45deg);
	bottom: 8px;
	}