 
body {
    background-color: #79e6ee;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
.block{
width: 200px;
height: 100px;
background: red;
}

.block input{
    margin: 20px;   
}

/* .block_search{
margin: 20px;
} */

 