 
body {
   /* background-color: #79e6ee;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block_all_site{
		width: 80%;
		margin: 40px auto;
		border: solid 3px red;
}
 
 
 .navigation{
	width: 100%; 
	height: 50px;
	border: solid 2px green;
 }
 
 .for_logo{
	 float: left;
	 width: 400px;
 }
 
 .bmw_{
  display: block;
  margin-left: auto;
  margin-right: auto; 
 }
 
 .nav{
	 height:20px;
	 float:left;
	 margin:  10px 20px auto 20px;
	 border: solid 2px green;
 }
 .nav:hover {
	 height:20px;
	 float:left;
	 margin:  10px 20px auto 20px;
	 background-color:white;
	 border: solid 2px pink;
 }
 
 
.big_letters{
	 border: solid 2px green;
}

 .big_letters p{
	 color:yellow;
	 font-family:verdana;
	 font-size:160%;
	 text-align:center;
 }
  .little_letters{
	 height: 60px; 
  }
  
  .little_letters p{
	 color:white;
	 font-family:verdana;
	 font-size:70%;
	 text-align:center;
 }
  
  
  
 .first{
	width: 100%; 
	height: 400px;
	border: solid 2px green;
	background-color: #79e6ee;
	margin: auto; 
	border: 1px solid red ;
 }
 
 .forma2{
	 width: 80%;
	 margin:auto;
	 border: 1px solid red ;
	 background-color: #ff00ff;
 }
 
 
 .a2{
	 float: left;
	 margin-right: 10px ;
	  margin-left: 10px ;
 }
 
 .a2_img{
	float: left; 
 }
 .a4{
	margin-right: 10px ;
	margin-left: 10px ; 
 }
 
 .tv{
	 margin-left:auto;
	 margin-right:auto;
	 padding-top:40px;
	 width: 500px;
	 /* background-color: green;*/
 }
 
   .tv1{
     height: 200px;
    border: 3px solid green ;
 }
 
  .tv2{
     height: 600px;
	  
/*
	 background-image: url(http://pngimg.com/uploads/bmw/bmw_PNG1712.png);
	  background-repeat: no-repeat;
*/
/*  background-size: cover;*/
      border: 3px solid blue ;
 }

.tv2_service {
    width: 400px;
    height: 50px;
    margin: auto;
 
}
.tv2_service_one {
    width: 400px;
/*    height: 50px;*/
    margin: auto;
/*    border: 3px solid blue ;*/
}

.tv2_service_one h2 {
text-align: center;

}

.tv2_service_text{
    text-align: center;
}

.block{
    border: 3px solid red ;
}

.block_left{
   
    width: 49%;
    height: 400px;
    border: 3px solid blue ;
    float: right;
  
}




.block_right{        
      width: 49%;
    height: 400px;
    border: 3px solid yellow ;
      
}

.block_left_photo{
    width: 50px;
    height: 100px;
    float:left;
        border: 3px solid blue ;
}


 
 